@font-face {
  font-family: 'MyFont';
  src: url('./HussarBold-7mRE.otf');
}

.main-container {
  display: flex;
}

.flex-item {
  border: 2px solid rgb(0, 255, 13);
}

.menu-container {
  display: flex;
  flex-direction: column;

  width: 200px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 4;
}

.heading {
  height: 100px;
}

.new-project-button {
  height: 40px;
  width: 200px;
}

.new-todo-form {
  border: 2px solid red;
  /* flex: 1; */
  width: 640px;
  height: 360px;
  margin: 50px;
}

.project {
  border: 1px solid black;
  padding: 0.5rem;
}

.project:hover {
  background-color: rgb(0, 119, 255);
  color: white;
}

.todo {
  border: 1px solid black;
  padding: 0.5rem;
}

.todo-low-priority {
  background-color: rgb(130, 255, 47);
}

.todo-medium-priority {
  background-color: rgb(255, 196, 0);
}

.todo-high-priority {
  background-color: rgb(255, 34, 108);
  color: white;
}

button {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}
