@font-face {
  font-family: 'MyFont';
  src: url('./HussarBold-7mRE.otf');
}

.flex-container {
  display: flex;
}

.flex-item {
  border: 2px solid rgb(0, 255, 13);
}

.flex-item-left {
  display: flex;
  flex-direction: column;

  width: 200px;
}

.flex-item-right {
  flex: 4;
}

.heading {
  height: 100px;
}

.new-todo-button {
  height: 100px;
}
